<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список заказов</title>
  <link href="/styles/style.css" rel="stylesheet" type="text/css">
  <link href="/styles/modal.css" rel="stylesheet" type="text/css">
  <script src="/scripts/modal.js"></script>
  <script src="/scripts/sorttable.js"></script>
</head>
<body>
  <div class="content-table">
    <h2>Список заказов</h2>
    <div class="order-table">
      <table id="sort-table">
        <colgroup>
          <col style="width: 80px;"> <!-- Номер заказа -->
          <col style="width: 165px;"> <!-- Клиент -->
          <col style="width: 160px;"> <!-- Оператор -->
          <col style="width: 160px;"> <!-- Статус -->
          <col style="width: 120px;"> <!-- Общая цена -->
          <col style="width: 140px;"> <!-- Дата создания -->
          <col style="width: 130px;"> <!-- Дата выпуска -->
        </colgroup>
        <thead>
          <tr>
            <th data-index="0">Номер заказа</th>
            <th data-index="1">Клиент</th>
            <th data-index="2">Оператор</th>
            <th data-index="3">Статус</th>
            <th data-index="4">Общая стоимость</th>
            <th data-index="5">Дата создания</th>
            <th data-index="6">Дата выдачи</th>
            <th data-index="7">Действие</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Orders }}
          <tr class="item-tr" data-url="order-items" data-id="{{ .Id }}">
              <td>{{ .Id }}</td>
              <td>{{ .CustomerName }}</td>
              <td>{{ .EmployeeName }}</td>
              <td>
                {{ if eq .Status 1 }}
                ⏳ <!-- ожидание -->
                {{ else if eq .Status 4 }}
                ❌ <!-- отменено -->
                {{ else if eq .Status 3 }}
                ✅ <!-- выпущено -->
                {{ else }}
                🔄 <!-- обработка -->
                {{ end }}
                {{ .Status }}
              </td>
              <td>{{ .TotalPrice }}</td>
              <td>{{ .CreateDate }}</td>
              <td>{{ .ReleaseDate }}</td>
              <td>
                <form method="post">
                  <input type="hidden" name="order_id" value="{{ .Id }}">
                  <input type="hidden" name="c_id" value="{{ .CustomerId }}">
                  <button type="submit"
                    {{ if or (eq .Status 3) (eq .Status 4) }}
                      disabled
                    {{ end }}
                    
                    name="action" 
                    
                    value="{{ if eq .Status 2 }}release{{ else }}process{{ end }}">
                    {{ if eq .Status 2 }}
                    Готов к выдаче
                    {{ else if eq .Status 1 }}
                    Выполнить
                    {{ else if eq .Status 4 }}
                    Отменен
                    {{ else }}
                    Выдан
                    {{ end }}
                  </button>
                </form>
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    <div id="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-header">Заказ №</h2>
        <div id="modal-body">Загрузка...</div>
      </div>
    </div>
  </div>
  <center>
    <a href="/" class="a-main">Главное меню</a>
  </center>
</body>
</html>