{{ range $i, $orderItem := .OrderItems }}
  <p style="text-align: center;"><strong>Позиция {{ inc $i }}: {{ .Model.Title }}</strong> (Артикул {{ .Model.Id }})</p>
  <div class="order-table">
  <table>
    <thead>
      <tr>
        <th>Материал</th>
        <th>Цена за метр</th>
        <th>Длина (метры)</th>
      </tr>
    </thead>
    <tbody>
      {{ range $matId, $mat := $orderItem.Model.Materials }}
        <tr>
          <td>{{ $mat.Title }}</td>
          <td>{{ $mat.Price }}</td>
          <td>{{ index $orderItem.Model.MatLeng $matId }}</td> 
        </tr>
      {{ end }}
    </tbody>
  </table>
  </div>
  <p><strong>Стоимость изготовления: {{ $orderItem.UnitPrice }}</strong></p>
  <hr>
{{ end }}
<p style="margin-bottom:0;"><strong>Общая стоимость заказа: {{ .TotalPrice }}</strong></p>