<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список заказов</title>
  <link href="/styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="content-table">
    <h2>Список заказов</h2>
    <div class="order-table">
      <table>
        <colgroup>
          <col style="width: 80px;"> <!-- Номер заказа -->
          <col style="width: 165px;"> <!-- Клиент -->
          <col style="width: 160px;"> <!-- Оператор -->
          <col style="width: 160px;"> <!-- Статус -->
          <col style="width: 120px;"> <!-- Общая цена -->
          <col style="width: 140px;"> <!-- Дата создания -->
          <col style="width: 130px;"> <!-- Дата выпуска -->
        </colgroup>
        <thead>
          <tr>
            <th>Номер заказа</th>
            <th>Клиент</th>
            <th>Оператор</th>
            <th>Статус</th>
            <th>Общая стоимость</th>
            <th>Дата создания</th>
            <th>Дата выпуска</th>
            <th>Действие</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Orders }}
            <tr>
              <td><a href="/order-items?id={{ .Id }}">{{ .Id }}</a></td>
              <td>{{ .CustomerName }}</td>
              <td>{{ .EmployeeName }}</td>
              <td>
                {{ if .IsPending }}
                ⏳ <!-- ожидание -->
                {{ else if .IsCanceled }}
                ❌ <!-- отменено -->
                {{ else if .Released }}
                ✅ <!-- выпущено -->
                {{ else }}
                🔄 <!-- обработка -->
                {{ end }}
                {{ .Status }}
              </td>
              <td>{{ .TotalPrice }}</td>
              <td>{{ .CreateDate }}</td>
              <td>{{ .ReleaseDate }}</td>
              <td>
                <form method="post">
                  <input type="hidden" name="order_id" value="{{ .Id }}">
                  <button type="submit"
                    {{ if or .Released .IsCanceled }}
                      disabled
                    {{ end }}
                    
                    name="action" 
                    
                    value="{{ if .Processed }}release{{ else }}process{{ end }}">
                    {{ if .Processed }}
                    Готов к выдаче
                    {{ else if .IsPending }}
                    Выполнить
                    {{ else if .IsCanceled }}
                    Отменен
                    {{ else }}
                    Выдан
                    {{ end }}
                  </button>
                </form>
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
  <center>
    <a href="/" class="a-main">Главное меню</a>
  </center>
</body>
</html>