body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4a82c2 25%, transparent 25%) -50px 0,
              linear-gradient(225deg, #2b74c7 25%, transparent 25%) -50px 0,
              linear-gradient(315deg, #4a82c2 25%, transparent 25%),
              linear-gradient(45deg, #2b74c7 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #d0f4fa;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  position: absolute;
}

.content,.content-table {
  padding: 16px;
  background: rgba(74, 130, 194, 0.8);
  border-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: scroll; 
  scrollbar-width: none;
  margin-bottom: 16px;
}

.element::-webkit-scrollbar {
  display: none;
}

.content-table {
  position: relative;
  width: 90vw;
  max-height: 80%;
  margin-top: 32px;
}

.order-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 16px;
  border: none;
  overflow: hidden;
}

.order-table th, .order-table  td {
  padding: 8px;
  border: 1px solid #dddc;
  text-align: center;
  border: none;
}

.order-table th {
  background-color: #6fabe4cc;
}

.order-table th:first-child, .order-table  td:first-child {
  border-left: none; /* Убираем левую границу у первых ячеек */
}

.order-table th:last-child, .order-table  td:last-child {
  border-right: none; /* Убираем правую границу у последних ячеек */
}

.order-table tr:first-child th {
  border-top: none; /* Убираем верхнюю границу у первой строки */
}

.order-table tr:last-child td {
  border-bottom: none; /* Убираем нижнюю границу у последней строки */
}

.order-table table::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background: white;
  opacity: 0.8;
  z-index: -1;
}

.order-table .item-tr:nth-child(odd):hover {
  filter: brightness(1.1);
}

.order-table .item-tr:nth-child(even):hover {
  filter: brightness(0.9);
}

.order-table tr:nth-child(odd) {
  background-color: #9abeb2cc;
}
.order-table tr:nth-child(even) {
  background-color: #7a9e92cc;
}

.welcome {
  font-size: larger;
}

.a-main {
  padding-bottom: 16px;
  text-shadow: 0 0 5px rgba(255, 255, 255, .8);
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:link, a:visited {
  color: #000;
}

a:hover {
  color: #0056b3;
}

a:active {
  color: #004085; 
}

h2 {
  text-align: center;
}

hr {
  border: none;
  height: 3px;
  background: linear-gradient(to right, transparent 0%, #0056b3 50%, transparent 100%);
  margin: 20px 0;
  border-radius: 2px;
}

button {
  transition: background-color, border-color 0.3s ease;
  height: 32px;
  padding: 0 !important;
  font-weight: bolder;
}

button:not(:disabled):hover {
  background-color: #6fabe4cc;
  border-color: #0056b3;
}

input[type="text"]::placeholder {
  color: #999;
}

input[type="text"] {
  height: 24px;
  padding: 10px;
}

input[type="text"], button {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
  box-sizing: border-box;
  display: block;
  margin: 10px auto;
}